!!!5
%html
    %head{class:"no-js",lang:"es"}
        /Metadata
        %meta{charset:"utf-8"}
        %meta{'http-equiv':"x-ua-compatible", content:"ie-edge"}
        %title Título
        %meta{name:"description", content:""}
        %meta{name:"viewport", content:"width=device-width, initial-scale=1"}

        /styles
        %link{rel:"stylesheet",href:"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css",integrity:"sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin:"anonymous"}
        %link{rel:"stylesheet",href:"https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.css"}
        %link{rel:"stylesheet",href:"styles.css"}
    %body
        -menu =["inicio", "Descripción", "Contacto"]
        %nav.navbar.navbar-inverse
            .container
                .navbar-header
                    /Logo
                    %a.navbar-brand{href:""}
                        %img.img-responsive{alt:"brand",src:"img/header-logo.png"}
                    /Hamburger
                    %button.navbar-toggle{'data-toggle':"collapse",'data-target':".navbar-collapse"}
                        -3.times do |i|
                            %span.icon-bar
                .navbar-collapse.collapse
                    %ul.nav.navbar-nav
                        -menu.each do |item|
                            %li
                                %a{href:'#'+"#{item}"}= item

        /Sección
        -menu.each do |item|
            .row.full
                %p= item

        %script{src:"https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"}
        %script{src:"https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"}
        %script{src:"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity:"sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin:"anonymous"}
        %script{src:"js/main.js"}
