html {
  font-size: 1em;
  line-height: 1.4; }

html, body {
  height: 100%; }

.full {
  height: 100%;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden; }

.full-height {
  height: 100%; }

.full-width {
  width: 100%; }

.row {
  margin: 0px; }

.up {
  z-index: 10; }

.absolute {
  position: absolute; }

.relative {
  position: relative; }
