/ total_hours_here: 43
/ Boilerplate HAML/SCSS commit #19


-# Basic information 
-@author= "jarp"
-@lang= "en"
-@title= "Hello!"
-@subtitle="Middleman template"
-@description= "My awesome description"
-@keywords="keyword1, keyword2, keywordn"

-# Basic libraries
-@BootstrapV= "4.0.0-beta"
-@PopperV="1.12.5"
-@NormalizeV="7.0.0"
-@jQueryV="3.2.1"
-@FontAwesomeV="4.7.0"

!!!5
%html
    %head{class:"no-js",lang:@lang}

        /Metadata
        %meta{charset:"utf-8"}
        %meta{'http-equiv':"x-ua-compatible", content:"ie-edge"}
        %title=@title
        %meta{name:"description", content:@description}
        %meta{name:"keywords", content:@keywords}
        %meta{name:"author", content:@author}
        %meta{name:"viewport", content:"width=device-width, initial-scale=1, shrink-to-fit=no"}

        /Styles
        %link{rel:"stylesheet", href:"https://cdnjs.cloudflare.com/ajax/libs/normalize/"+@NormalizeV+"/normalize.min.css"}
        %link{rel:"stylesheet", href:"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/"+@FontAwesomeV+"/css/font-awesome.min.css"}
        %link{rel:"stylesheet", href:"https://fonts.googleapis.com/icon?family=Material+Icons"}
        %link{rel:"stylesheet",href:"https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/"+@BootstrapV+"/css/bootstrap.min.css"}
        %link{rel:"stylesheet", href:"https://cdnjs.cloudflare.com/ajax/libs/node-waves/0.7.5/waves.css"}
        %link{rel:"stylesheet",href:"./stylesheets/site.css"}

    %body
        =yield
        %h1= yield_content(:title)


        
        .float-block
            %a.btn.waves-circle.btn-rd{href:"#"}
                %span
                    %i.material-icons chat_bubble_outline
        
        /Scripts
        %script{src:"https://cdnjs.cloudflare.com/ajax/libs/jquery/"+@jQueryV+"/jquery.js"}
        %script{src:"https://cdnjs.cloudflare.com/ajax/libs/popper.js/"+@PopperV+"/umd/popper.js"}
        %script{src:"https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/"+@BootstrapV+"/js/bootstrap.min.js"}
        %script{src:"https://cdnjs.cloudflare.com/ajax/libs/node-waves/0.7.5/waves.js"}
        -# %script{src:"js/analytics.js"}
        -# %script{async:"true", src:"https://www.google-analytics.com/analytics.js"}
        -# %script{src:"./js/main.js"}
