-@brand="brand"
-# Basic nav items/sections
-menu={"Section 1":"#section1", "Link2":"url/link2", "Link3":"url/link3", "Linkn":"url/link4"}

.navbar.navbar-expand-lg.navbar-dark.bg-dark
    .navbar-brand= @brand
    %button.navbar-toggler.navbar-toggler-right.waves-float{type:"button","data":{"toggle":"collapse", "target":"#MyNavbar" },  "aria":{"controls":"MyNavBar", "expanded":"true"}}
        %span
            %i.material-icons more_vert

    .collapse.navbar-collapse#MyNavbar
        %ul.navbar-nav
            -menu.each do |key,value|
                %li.nav-item
                    %a.nav-link{href:"#{value}"}= key
