-# data para layout
- content_for(:title, "Hello")

-# partials
=partial "partials/navbar"
=partial "partials/header", locals: {title:"Hello", subtitle:"d"}
=partial "partials/section"
=partial "sections/section1"
